@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;700&display=swap');

:root {
    --primary-color: rgb(2, 48, 71);
    --primary-shadow: rgb(172, 164, 164);
    --main-bg: rgb(254, 249, 239);
    --main-text-color: #2b2d42;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-bg);
    color: rgb(254, 249, 239);
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3{
    position: relative;
    top: 3px;
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 0;
}

/* canvas styling */

#canvas-container {
    position: relative;
    left: 30vw;
    margin: 2em;
    width: fit-content;
    height: 100vh;
    color: fef9ef;
}

#canvas-container .canvas {
    border-radius: 5px;
    box-shadow: -5px 5px 15px 2px var(--primary-shadow);
    margin: auto;
    padding: 5px;
    width: 500px;
    height: 500px;
}

#settings-bottom, #settings-right, #settings-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 13px;
    box-shadow: -5px 5px 15px 1px var(--primary-shadow);
}

/* right-settings-div */
#settings-right {
    flex-direction: column;
    width: 3em;
    height: 30em;
    position: relative;
    left: 33em;
    top: -64.5em;
}

#settings-right #line-width {
    position: relative;
    top: -6em;
}

#settings-right #blur-line {
    position: relative;
    top: 8em;
}

#settings-right .top-text {
    position: relative;
    top: -9em;
}

#settings-right .bottom-text {
    position: relative;
    top: 2em;
}

#settings-right input[type="range"], #settings-left input[type="range"] {
    transform: rotate(270deg);
    cursor: pointer;
}

/* left settings-div */
#settings-left {
    flex-direction: column;
    width: 3em;
    height: 30em;
    position: relative;
    top: -34.5em;
    left: -5em;
}

#settings-left input[type="radio"] {
    cursor: pointer;
}

/* bottom settings-div */
#settings-bottom {
    position: relative;
    top: 1em;
    left: 0.5em;
    width: 30em;
    height: 4em;
}

#settings-bottom input {
    margin: 5px;
    cursor:pointer;
}

#settings-bottom span {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#settings-bottom span:first-child {
    background-color: white;
}

#settings-bottom span:hover {
    border: 3px solid white;
}

#settings-bottom span:first-child:hover {
    border: 3px solid black;
}

#settings-bottom button {
    background-color: white;
    color: var(--main-text-color);
    font-family: Nunito, sans-serif;
    margin: 5px;
    padding: 4px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    cursor: pointer;
}

#settings-bottom #save:hover {
    background-color: #3c7536;
    color: var(--main-bg);
}

#settings-bottom #undo:hover {
    background-color: #bf362c;
    color: var(--main-bg);
}

#settings-bottom #psychedelic:hover, #settings-bottom #psychedelic.on  {
    background-color: #7e81c2;
    border-top-color: #ea698b;
    border-right-color: #822faf;
    border-bottom-color: #571089;
    border-left-color: #f79d65;
    color: var(--main-bg);
}

/* responsive layout */

@media screen and (max-width: 900px) {
    #canvas-container {
        left: 17%;
    }

    body h1 {
        left: -3em;
    }

    body {
        overflow:scroll;
    }
}

@media screen and (max-width: 777px) {
    #canvas-container {
        left: 10%;
    }

    #settings-right {
        flex-direction:row;
        width: 30em;
        height: 3.5em;
        position: relative;
        left: 0.5em;
        top: -28em;
    }
     
    #settings-right input[type="range"] {
        transform: none;
        cursor: pointer;
        width: 30vw;
    }

    #settings-right .top-text, #settings-right .bottom-text {
        top: 0;
        padding: 1em;
    }

    #settings-right #line-width, #settings-right #blur-line {
        top: 0;
        width: 10em;
    }
}

@media screen and (max-width: 620px) {

    /* landing page */
    #landing-page .app-description {
        margin-left: 0;
    }

    .pics {
        margin-top: 0;
    }

    h2.name.head {
        position: relative;
        left: -3em;
        text-align: center;
    }

    img.sample {
        margin-left: 2.5em;
    }

    #responsive-header {
        margin-top: 100px;
    }

    .line-height {
        margin-left: -165px;
    }

    #demo-vid {
        width: 90vw;
        height: 50vh;
        margin-left: 1em;
    }

    /* canvas */

    #canvas-container {
        left: 0;
        margin: 0 auto;
        margin-top: 2em;
        height: fit-content;
    }

    #canvas-container .canvas {
        height: 330px;
        width: 330px;
    }

    #authors, #landing-page .header, .pics {
        display: flex;
        flex-direction: column;
    }

    #settings-right {
        flex-direction:row;
        width: 80vw;
        height: 2.5em;
        position: relative;
        left: 0;
        top: -1.2em;
        margin: 0 auto;
    }
     
    #settings-right input[type="range"] {
        transform: none;
        cursor: pointer;
        width: 20vw;
    }

    #settings-right .top-text, #settings-right .bottom-text {
        top: 0;
        padding: 1em;
        font-size: 10px;
    }

    #settings-right #line-width, #settings-right #blur-line {
       top: 0;
       width: 4em;
    }

    #settings-bottom {
        width: 80vw;
        left: 0;
        font-size: 10px;
        margin: 0 auto;
    }

    #settings-bottom button {
       font-size: 10px;
    }

    #settings-left {
        flex-direction: row;
        width: 80vw;
        height: 2.5em;
        position: relative;
        top: 4.4em;
        left: 0;
        margin: 0 auto;
    }
}

  /* navbar */

.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 5px 10px 0 var(--primary-shadow);
    overflow: hidden;
    position: sticky;
  }

.nav-left a, .nav-right a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
  }

.nav-left a {
    float: left;
  }

.nav-right a {
    float: right;
  }

.navbar a:hover {
    background-color: rgb(222, 217, 209);
    color: var(--primary-color);
  }

/* handle mainpage */

#authors {
    display: flex;
    justify-content: space-around;
  }

.hidden {
    display: none;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.author {
    color: var(--main-bg);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: var(--primary-color);
    border-radius: .5em;
    box-shadow: 0 0 10px 0 rgb(68, 67, 70);
}

.author-description {
    flex-wrap: wrap;
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-top {
    margin-top: 2em;
}

.app-description h1 {
    font-size: 3em;
    font-weight: bold;
}

.name {
    font-size: 2em;
    font-weight: Bold;
}

.pics {
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.sample {
    width: 300px;
    height: 300px;
    margin-right: 1.5em;
}

#landing-page .app-description {
    text-align: left;
    margin-bottom: 2em;
    margin-left: 200px;
}

.head {
    font-size: 3em;
    text-shadow: 2px 2px black;
}

#landing-page .header {
    display: flex;
    justify-content: space-around;
    margin-top: 6em;
}

.line-height {
    width: 300px;
    font-weight: 100;
}

.author-header {
    text-align: center;
    font-size: 3em;
    margin-top: 150px;
    margin-bottom: 60px;
}

.linkedin, .email, .github {
    width: 30px;
    margin-bottom: 20px;
}

.contact-links {
    display: inline;
}