@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat&display=swap');

:root {
    --primary-color: #474973;
    --primary-shadow: #474973;
    --main-bg: #a69cac;
    --main-text-color: #f1dac4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Concert One;
    background-color: var(--main-bg);
    color: var(--main-text-color);
    min-height: 100vh;
    position: relative;
    margin: 0;
}

body h1, h2, h3{
    position: relative;
    top: 3px;
    overflow: hidden;
    font-size: 1.5em;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 0;
}

#main {
    position: relative;
    left: 30%;
    margin: 0 2em 2em 2em;
}

#main .canvas {
    border-radius: 5px;
    box-shadow: -5px 5px 15px 2px var(--primary-shadow);
    margin: auto;
}

#settings-bottom, #settings-right, #settings-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 20px;
    box-shadow: -5px 5px 15px 1px var(--primary-shadow);
}

#settings-right {
    flex-direction: column;
    width: 3em;
    height: 30em;
    position: relative;
    left: 33.5em;
    top: -64.5em;
}

#settings-left {
    flex-direction: column;
    width: 3em;
    height: 30em;
    position: relative;
    top: -34.5em;
    left: -5em;
}

.label {
    position: relative;
    top: -5rem;
}


#settings-bottom {
    position: relative;
    top: 1em;
    left: 0.5em;
    width: 30em;
    height: 4em;
}

#settings-bottom input {
    margin: 5px;
    cursor:pointer;
}

#settings-bottom span {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 5px;
    border-radius: 50%;
    cursor:pointer;
}

#settings-bottom span:first-child {
    background-color: white;
}

#settings-bottom span:hover {
    border: 3px solid white;
}

#settings-bottom span:first-child:hover {
    border: 3px solid black;
}

#settings-bottom button {
    font-family: Concert One;
    margin: 5px;
    padding: 4px;
    background-color: #161b33;
    border: 2px solid black;
    border-radius: 2px;
    color: var(--main-text-color);
    cursor: pointer;
}

#settings-bottom #reset:hover {
    background-color: rgb(199, 103, 103);
    color: white;
}

#settings-bottom #psychedelic:hover {
    background-color: #7e81c2;
    border-top-color: #ea698b;
    border-right-color: #822faf;
    border-bottom-color: #571089;
    border-left-color: #f79d65;
    color: white;
}

#settings-right input[type="range"], #settings-left input[type="range"] {
    transform: rotate(270deg);
    cursor: pointer;
}

/* responsive layout */

@media screen and (max-width: 900px) {
    #main {
        left: 15%;
    }

    body h1 {
        left: -3em;
    }
}

@media screen and (max-width: 750px) {
    #main {
        left: 0;
    }

    body h1 {
        left: -5em;
    }
}

@media screen and (max-width: 620px) {
    #settings-right {
        width: 30em;
        height: 3.5em;
        position: relative;
        left: 0.5em;
        top: 2em;
    }

    #settings-right input[type="range"] {
        transform: none;
        cursor: pointer;
    }
}


/* toggle switch design */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* navbar */

  .navbar {
    background-color: #333;
    overflow: hidden;
  }

  .nav-left a, .nav-right a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-left a {
    float: left;
  }

  .nav-right a {
    float: right;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* handle mainpage */

  #authors {
      display: flex;
      justify-content: space-around;
  }

  
.hidden {
    display: none;
}